@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  @apply flex flex-col items-center bg-white;
}
#root {
  @apply w-full h-full flex;
}
